.chat {
  height: 100%;
  padding: 20px;
  flex-direction: column;
  display: none;
}
.swiper-slide-active .chat {
  display: flex;
  animation-name: fade-in;
  animation-duration: 2s;
}
@keyframes fade-in {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: auto;
  }
  50% {
  }
  100% {
    opacity: 100%;
  }
}
.chat-body {
  flex: 1;
  display: flex;
  background-color: var(--gary-3);
  padding: 20px;
  max-height: 876px;
  overflow-y: scroll;
}
.rooms {
  border-right: 1px solid gray;
}
.msgs {
  padding-top: 10px;
  padding-left: 20px;
  flex: 1;
}

.chat-footer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: gray;
}
.chat-footer > form {
  flex: 1;
  height: 100%;
  padding-left: 10px;
  background-color: var(--gary-3);
  font-size: 1.2rem;
  border: 1px solid gray;
}
.chat-footer > form > input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 10px;
  background-color: var(--gary-3);
  color: var(--white);
  font-size: 1.2rem;
  border: none;
}
::placeholder {
  color: var(--white);
}
.chat-footer > svg {
  color: white;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.send-icon {
  transform: rotate(90deg);
}
.chat-footer > svg:hover {
  color: #c1c1c1;
}

@media screen and (max-width: 1024px) {
  .chat {
    padding: 10px;
  }
  .chat-body {
    padding: 10px;
  }
  .chat-footer {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: gray;
  }
  .chat-footer > input {
    font-size: 1rem;
  }
  .chat-footer > svg {
    color: white;
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .chat-body {
    max-height: 423px;
  }
}
